/* ANCHOR: FISH CLASS */
.fish-wrapper {
  position: absolute;
  transform: translateX(-100%);

  animation-timing-function: linear;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

.fish {
  animation-name: fish-bounce-up-down;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

/* ANCHOR: GREEN FISH */
#green-fish-wrapper {
  margin-top: 3%;
  animation-name: green-fish-slide-right;
}
#green-fish {
  width: 7vw;
}

@keyframes green-fish-slide-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(50vw);
  }
}

/* ANCHOR: ORANGE FISH */
#orange-fish-wrapper {
  margin-top: 4%;
  animation-name: orange-fish-slide-right;
}
#orange-fish {
  width: 10vw;
  animation-duration: 1.2s;
}

@keyframes orange-fish-slide-right {
  0% {
    transform: translateX(calc(-100% - 15vw));
  }
  100% {
    transform: translateX(35vw);
  }
}

/* ANCHOR: BLUE FISH */
#blue-fish-wrapper {
  margin-top: 20%;

  animation-name: blue-fish-slide-right;
}
#blue-fish {
  width: 9.5vw;
}

@keyframes blue-fish-slide-right {
  0% {
    transform: translateX(calc(-100% - 15vw));
  }
  100% {
    transform: translateX(35vw);
  }
}

/* ANCHOR: RED FISH */
#red-fish-wrapper {
  margin-top: 13%;
  animation-name: red-fish-slide-right;
}
#red-fish {
  width: 8vw;
  animation-duration: 1.4s;
}

@keyframes red-fish-slide-right {
  0% {
    transform: translateX(calc(-100% - 25vw));
  }
  100% {
    transform: translateX(25vw);
  }
}

/* ANCHOR PINK FISH */
#pink-fish-wrapper {
  margin-top: 10%;

  animation-name: pink-fish-slide-right;
}
#pink-fish {
  width: 14vw;
}

@keyframes pink-fish-slide-right {
  0% {
    transform: translateX(calc(-100% - 36vw));
  }
  100% {
    transform: translateX(2vw);
  }
}

/* ANCHOR: YELLOW FISH */
#yellow-fish-wrapper {
  /* animation name | length of animation | delay | type of animation | repetition */
  animation: yellow-fish-slide-right 4s 2s linear forwards,
    yellow-fish-slide-bottom-right 6s 7s linear forwards,
    yellow-fish-slide-right-and-then-bottom-right 15s 13s linear infinite;  
}
#yellow-fish {
  width: 8vw;
}

@keyframes yellow-fish-slide-right {
  0% {
    transform: translate(calc(-100% - 35vw), 5%);
  }
  100% {
    transform: translate(18vw, 3vw);
  }
}

@keyframes yellow-fish-slide-bottom-right {
  0% {
    transform: translate(18vw, 3vw) rotate(0deg);
  }
  5% {
    transform: translate(18vw, 3vw) rotate(40deg);
  }
  100% {
    transform: translate(100vw, 50vw) rotate(40deg);
  }
}

@keyframes yellow-fish-slide-right-and-then-bottom-right {
  0% {
    transform: translate(calc(-100% - 35vw), 5%) rotate(0deg);
  }
  25% {
    transform: translate(18vw, 3vw) rotate(0deg);
  }
  55% {
    transform: translate(18vw, 3vw) rotate(0deg);
  }
  60% {
    transform: translate(18vw, 3vw) rotate(40deg);
  }
  100% {
    transform: translate(100vw, 50vw) rotate(40deg);
  } 
}

/* ANCHOR: FISH BOUNCE UP AND DOWN */
@keyframes fish-bounce-up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
