footer {
  /* position: sticky; */
  /* top: 100vh; */
  background-color: #a6d179;
  color: white;
  font-size: 11px;
  text-align: center;
}

footer > div {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30px;
}

footer > div > p {
  margin: 0px;
}